<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DatabaseConnection</servlet-name>
  	<display-name>DatabaseConnection</display-name>
  	<description></description>
  	<servlet-class>com.fly.DatabaseConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindFlight</servlet-name>
  	<display-name>FindFlight</display-name>
  	<description></description>
  	<servlet-class>com.fly.FindFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailsOfUser</servlet-name>
  	<display-name>DetailsOfUser</display-name>
  	<description></description>
  	<servlet-class>com.fly.DetailsOfUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowDetails</servlet-name>
  	<display-name>ShowDetails</display-name>
  	<description></description>
  	<servlet-class>com.fly.ShowDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Display</servlet-name>
  	<display-name>Display</display-name>
  	<description></description>
  	<servlet-class>com.fly.Display</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailsOfFlight</servlet-name>
  	<display-name>DetailsOfFlight</display-name>
  	<description></description>
  	<servlet-class>com.fly.DetailsOfFlight</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DatabaseConnection</servlet-name>
  	<url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindFlight</servlet-name>
  	<url-pattern>/FindFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailsOfUser</servlet-name>
  	<url-pattern>/DetailsOfUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowDetails</servlet-name>
  	<url-pattern>/ShowDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Display</servlet-name>
  	<url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailsOfFlight</servlet-name>
  	<url-pattern>/DetailsOfFlight</url-pattern>
  </servlet-mapping>
</web-app>
